---
import {Tabs, TabItem, Code} from "@astrojs/starlight/components";

// 组件接收 groupId 和 artifactId 作为 prop
export interface Props {
    groupId: string;
    artifactId: string;
}
const {groupId, artifactId} = Astro.props as Props;

// 调用中央库 API 返回最新的 Jar 包版本信息
const fetchJarVersionByXML = async (groupId: string, artifactId: string) => {
    try {
        // 构建 metadata XML URL
        const groupPath = groupId.replace(/\./g, '/');
        const url = `https://repo1.maven.org/maven2/${groupPath}/${artifactId}/maven-metadata.xml`;

        // 发送请求
        const response = await fetch(url);
        if (!response.ok) {
            console.error(`Failed to fetch version for ${groupId}:${artifactId}`);
            return 'lasted-version';
        }

        // 解析 XML 响应
        const xmlText = await response.text();

        // 使用正则表达式获取最新版本信息
        const latestVersionMatch = xmlText.match(/<latest>([^<]+)<\/latest>/);
        const latestVersion = latestVersionMatch ? latestVersionMatch[1] : null;

        if (latestVersion) {
            return latestVersion;
        } else {
            return 'lasted-version';
        }
    } catch (error) {
        console.error("Error fetching Jar version:", error);
        return 'lasted-version';
    }
}

// 获取版本
const version = await fetchJarVersionByXML(groupId, artifactId);
---

<div>
    {
        version ? (
                <Tabs>
                    <TabItem label="Maven">
                        <Code
                                code={`
<dependency>
    <groupId>${groupId}</groupId>
    <artifactId>${artifactId}</artifactId>
    <version>${version}</version>
</dependency>
        `}
                                lang="xml"
                        />
                    </TabItem>
                    <TabItem label="Gradle">
                        <Code
                                code={`
implementation '${groupId}:${artifactId}:${version}'
            `}
                                lang="groovy"
                        />
                    </TabItem>
                </Tabs>
        ) : (
                <p>Loading version...</p>
        )
    }
</div>
